* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
html,
body {
  width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
@font-face {
  font-family: "Apercu Pro";
  src: url("./font/Apercu Pro/Apercu Pro.eot");
  src: url("./font/Apercu Pro/Apercu Pro-iefix.eot?#iefix") format("embedded-opentype"),
    url("./font/Apercu Pro/Apercu Pro.woff2") format("woff2"), url("./font/Apercu Pro/Apercu Pro.woff") format("woff"),
    url("./font/Apercu Pro/Apercu Pro.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.svg#Apercu Pro") format("svg");
}
@font-face {
  font-family: "Untitled Sans Regular";
  src: url("./font/Untitled Sans Regular/Untitled Sans Regular.eot") format("truetype");
  src: url("./font/Untitled Sans Regular/Untitled Sans Regular.woff2") format("woff2"),
    url("./font/Untitled Sans Regular/Untitled Sans Regular.woff") format("woff"),
    url("./font/Untitled Sans Regular/Untitled Sans Regular.ttf") format("truetype"),
    url("./font/Untitled Sans Regular/Untitled Sans Regular.svg") format("svg");
}
@font-face {
  font-family: "Apercu Mon";
  src: url("./font/Apercu Mon/FontsFree-Net-ApercuMono.ttf") format("truetype");
}
.h,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.media-section .wysiwyg-editor h2,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em;
  color: inherit;
  letter-spacing: -0.05em;
}
h1,
h2 {
  font-size: 84px;
  line-height: 1.095;
}
html,
body,
#__nuxt {
  font: 18px/1.778 "Untitled Sans Regular", "Helvetica Neue", Helvetica, sans-serif;
  //background-color: #1f1f24;
  // background-color: $primary-color;
  color: #fff;
  height: 100%;
  letter-spacing: -0.03em;
}
p {
  margin: 0 0 1em;
}
/* .layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
} */
.global {
  height: 100vh;
  &-screen {
    min-height: 100vh;
  }
  .el-header,
  .el-main,
  .el-footer {
    padding: 0;
  }
  .global-header {
    height: 140px !important;
    background-color: $primary-color;
    & > .el-row--flex {
      padding-top: 20px;
      height: 105px;
    }
  }
  .el-scrollbar,
  .el-scrollbar__wrap {
    height: 100%;
    overflow-x: hidden;
  }
  .global-screen-main {
    flex: auto;
  }

  &-h1 {
    font-size: 90px;
  }
  &-h2 {
    font-size: 70px;
  }
  &-h3 {
    font-size: 50px;
  }
  &-h4 {
    font-size: 24px;
  }
  &-h5 {
    font-size: 20px;
  }
  &-h6 {
    font: 700 16px/2 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.1em;
  }
  .global-fixed {
    position: fixed;
    top: 20px;
    z-index: 999;
    padding: 20px 20px;
    background-color: $primary-color;
    box-shadow: 0 0 2px rgb(0 0 0 / 80%), 0 4px 12px rgb(0 0 0 / 36%), inset 0 0 0 0.5px rgb(237 237 237 / 36%);
    border-radius: 16px;
    .nav {
      padding: 0;
    }
  }
  .el-backtop {
    color: $primary-color;
  }
  .subtitle {
    display: block;
    text-transform: uppercase;
    font: 700 16px/2 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    margin-bottom: 14px;
    color: #fff;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: $primary-color;
  .el-menu.el-menu--horizontal {
    border: none;
  }
  .el-menu-item,
  .el-submenu__title {
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
  }
  .el-submenu__title:hover,
  .el-submenu__title:focus,
  .el-menu-item:focus,
  .el-menu-item:hover {
    background-color: transparent !important;
    color: #8c8c90 !important;
    border-bottom: 2px solid #f5c067 !important;
  }
  .el-menu-item:hover {
    background-color: transparent !important;
    color: #8c8c90 !important;
    border-bottom: 2px solid #f5c067 !important;
  }
  .el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 2px solid transparent !important;
    //border-bottom: none !important;
  }
  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border-bottom: 2px solid transparent !important;
  }
  .el-submenu__icon-arrow {
    display: none;
  }
  &-index {
    width: 106px;
    &-img {
      width: 65px;
    }
    img {
      width: 100%;
    }
  }

  &-child {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &-title {
      color: #9e9e9e;
      margin-bottom: 20px;
    }
    &-item {
      width: 350px;
      margin-right: 20px;
      &-content {
        display: flex;
        padding: 10px;
        width: 350px;
        &-title {
          color: #9e9e9e;
          font: 700 13px/1 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
          letter-spacing: 0.1em;
          margin-left: 10px;
          width: 300px;
          word-break: break-word;
          flex-shrink: 0;
          &-text {
            font: 700 16px/2 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
            color: #fcfcfc;
            margin-bottom: 5px;
            font-weight: 700;
            letter-spacing: -0.03em;
            width: 100%;
            word-break: break-word;
            &-small {
              font: 400 13px/2 "Untitled Sans Regular", "Helvetica Neue", Helvetica, sans-serif;
              margin-top: -5px;
              color: #8c8c90;
              letter-spacing: -0.03em;
              width: 100%;
            }
          }
        }
        &-img {
          width: 25px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .btn-primary {
    padding: 10px 20px;
  }
}
.nav-link {
  font-size: 14px;
  &-middle {
    margin-right: 30px;
  }
}
.el-menu--horizontal .nav-child .el-menu-item.is-active {
  .nav-child-item-content-img i {
    color: #fff;
  }
}
.nav-right {
  display: flex;
  align-items: center;
  .el-icon-orange {
    cursor: pointer;
    font-size: 20px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #fff;
  }
  &-dropdown {
    margin-right: 30px;
    margin-top: 10px;
    border-right: 2px solid #8c8c90;
    padding-right: 30px;
  }
  .el-dropdown-link {
    display: inline-block;
    cursor: pointer;
    img {
      width: 25px;
    }
  }
  .btn-primary {
    text-align: center;
    min-width: 120px;
  }
}
.nuxt-link-exact-active {
  color: #e6dede;
}
.el-menu--horizontal .el-menu--popup {
  border: 1px solid #8f8989;
  box-shadow: 0 0 2px rgb(0 0 0 / 80%), 0 4px 12px rgb(0 0 0 / 36%), inset 0 0 0 0.5px rgb(237 237 237 / 36%);
  border-radius: 20px;
}
.el-menu--horizontal .el-menu .el-menu-item.el-menu-nav-item {
  height: auto;
  line-height: 1.5em;
  font-size: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.btn {
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  &-primary {
    background-color: $btn-color;
    color: #fff;
    &:hover {
      background-color: $btn-color-hover;
    }
  }
  &-default {
    background-color: transparent;
    border: 2px solid #fff;
    &:hover {
      color: #1e1e1e;
      background-color: #fcfcfc;
    }
  }
}
.scrolltop {
  background: #f4f4f4;
  margin-top: 20px;
  &.s1 {
    li {
      line-height: 50px;
    }
  }
  &.s2 {
    .vue-loop-scroll-box {
      height: 200px;
    }
  }
}
.footer {
  background: #fcfcfc;
  padding: 50px 0 !important;
  height: auto !important;
  color: $footer-color;
  border-top: 1px solid #e0e3ed;
  .global-h6 {
    color: #1f1f24;
    font: 700 13px/1.3 "Apercu Mono", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &-link {
    font-size: 12px;
    margin-bottom: 15px;
    a {
      color: $footer-color;
      &:hover {
        color: #1e1e1e;
        border-bottom: 2px solid #1e1e1e;
      }
    }
  }
  &-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    &-content {
      display: flex;
      align-items: center;
      a {
        i {
          color: #1e1e1e;
          margin-right: 20px;
          font-size: 25px;
          cursor: pointer;
          &:hover {
            color: #f5c367;
          }
        }
      }
    }
    &-text {
      font-size: 14px;
    }
  }
}
.el-dropdown-menu {
  background-color: $primary-color !important;
  border: 1px solid #8f8989 !important;
  padding: 20px !important;
  border-radius: 14px !important;
}
.el-dropdown-menu.el-popper[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: #8f8989 !important;
}
.el-dropdown-menu.el-popper[x-placement^="bottom"] .popper__arrow::after {
  border-bottom-color: $primary-color !important;
}

.link {
  transition: color 0.1s ease-out;
  font: 700 18px/1.3 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: $btn-color;
  position: relative;
  &:hover {
    color: $btn-color-hover;
  }
}
.blue {
  transition: color 0.1s ease-out;
  font: 700 18px/1.3 "Apercu Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: $primary-color;
  position: relative;
  &:hover {
    color: rgb(39, 66, 53);
  }
}
.el-dropdown-menu__item {
  color: #fff !important;
  padding: 5px 20px !important;
  border-radius: 8px;
  &:hover {
    background-color: rgb(33, 56, 46) !important;
    color: #fff !important;
  }
}
.el-menu-item {
  .nav-child-item-content-img i {
    font-size: 25px;
    color: $btn-color;
  }
  &:hover {
    .nav-child-item-content-img i {
      color: #fff;
    }
  }
}
.p-lead {
  font-size: 24px;
  margin-bottom: 20px;
}
$light: #7856ff;
.details {
  color: #37383c;
  &-header {
    height: auto !important;
  }
  .nav-news {
    padding: 40px 0;
    display: flex;
    align-items: center;
    &-index {
      padding-right: 20px;
    }
    .blog {
      height: 30px;
      padding-left: 20px;
      border-left: 1px solid $light;
      img {
        width: 218px;
      }
    }
    &-right {
      margin-left: auto;
      display: flex;
      align-items: center;
      &-box {
        position: relative;
        display: flex;
        &-email {
          width: 190px;
          background: #f4f4f4;
          padding: 5px 52px 5px 12px;
          height: 40px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &-btn {
          height: 40px;
          font-size: 20px;
          margin: 0;
          outline: none;
          color: #fff;
          background: $light;
          padding: 0 10px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
  .el-logo {
    color: $light;
    font-size: 25px;
  }
  .btn-wrap {
    margin-left: 32px;
  }
  .btn--pri {
    color: $light;
    border: 2px solid $light;
    border-radius: 4px;
    min-width: 144px;
    padding: 14px 10px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    display: inline-block;
    &:hover {
      color: #fff;
      background: $light;
      border-color: $light;
    }
  }
  .lead-img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .inner {
    padding: 64px 112px;
  }
  &-articles {
    margin: 55px auto 57px;
    &-h2 {
      text-align: center;
      font-size: 56px;
      margin-bottom: 50px;
    }
    &-h4 {
      font-size: 24px;
      color: #37383c;
    }
    .news-content-item-text {
      padding: 22px 24px;
      color: #6b7c93;
    }
    .blog-cite {
      padding: 30px 24px;
    }
    .blog-cite-a {
      display: flex;
      align-items: center;
      color: #37383c;
    }
    .per-info {
      margin-left: 20px;
      & > * {
        display: block;
      }
    }
    .blog-cite .avatar {
      width: 48px;
      overflow: hidden;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-iconfont {
  font-size: 35px;
  color: #f3ac34;
}
.video {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  &-content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &-poster {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    background: url("/video/poster.jpg") no-repeat center;
    background-size: 100% 100%;
    img {
      width: 80px;
      height: 80px;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
}
.subMenu--horizontal {
  top: 123px !important;
  left: calc(calc(100vw - 1152px) / 2) !important;
}
