.mobile {
  display: none;
}
.global-h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.global-h4 {
  text-align: center;
  margin-bottom: 30px;
}
.title-h1 {
  font-size: 90px;
  line-height: 1.067;
  margin: 0;
  padding-bottom: 34px;
  text-transform: capitalize;
}
.title-h2 {
  font-size: 70px;
  line-height: 1.0625;
  text-transform: capitalize;
}
.title-h2-plus {
  font-size: 50px;
  line-height: 1.0625;
  margin-bottom: 24px;
}
.title-h3 {
  font-size: 50px;
  line-height: 1.127;
  text-transform: capitalize;
}
.title-h4 {
  font-size: 36px;
}
.title-h6 {
  font-size: 28px;
}
.p-lead {
  font-size: 24px;
  margin-bottom: 30px;
}
.home-top-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a.btn {
    padding: 14px 30px;
  }
}
.home-picture {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  img {
    border-radius: 10px;
  }
}
.home-new {
  margin-top: 100px;
  margin-bottom: 100px;
}
.home-new-img-earth {
  width: 100%;
}
.home-appeared {
  padding-top: 100px;
  text-align: center;
  margin: auto;
  width: 70%;
  h1 {
    margin-bottom: 51px;
    white-space: pre-line;
  }
  &-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    li {
      display: flex;
      align-items: center;
      .iconfont {
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }
}
.home-story {
  position: fixed;
}
.footer .nav-index i {
  color: $primary-color;
  font-size: 35px;
}
@media (max-width: 1023px) {
  .title-h1 {
    font-size: 64px;
    padding-bottom: 12px;
  }
  .title-h4 {
    font-size: 30px;
  }
}
@media (max-width: 1279px) {
  .title-h1 {
    font-size: 74px;
    padding-bottom: 12px;
  }
}
@media only screen and (max-width: 779px) {
  html,
  body,
  #__nuxt {
    font-size: 16px;
    line-height: 1.5;
  }
  .mobile {
    display: block;
  }
  .global .global-fixed {
    top: 0;
  }
  .el-row-wrap {
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }
  .title-h1 {
    font-size: 32px;
    line-height: 1.0625;
    padding-bottom: 12px;
  }
  .title-h2 {
    font-size: 32px;
    line-height: 1.0625;
    margin-bottom: 24px;
  }
  .title-h2-plus {
    font-size: 32px;
    line-height: 1.0625;
    margin-bottom: 24px;
  }
  .title-h3 {
    font-size: 28px;
    line-height: 1.333;
  }
  .title-h4 {
    font-size: 24px;
  }
  .title-h6 {
    font-size: 20px;
  }
  .p-lead {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-top {
    margin-top: 10px;
  }
  .home-top-btn {
    a.btn {
      width: 100%;
      margin: 0 30px 12px;
    }
  }
  .home-picture {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100%;
    img {
      border-radius: 10px;
    }
  }
  .home-new {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .home-new-img {
    &-earth {
      width: 140px;
      margin: 0 0 16px;
    }
  }
  .home-new-bottom {
    margin-bottom: 20px;
  }
  .home-appeared {
    padding-top: 60px;
    text-align: center;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    h1 {
      margin-bottom: 20px;
      white-space: pre-line;
    }
    &-box {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &-item {
      display: inline-flex;
      justify-content: space-between;
      margin-bottom: 38px;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        .iconfont {
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }
  .home-story {
    position: static;
    padding: 50px 0 30px;
    &-phone {
      width: 220px;
      margin: 30px auto;
    }
    .title-h6 {
      margin: 0 0 10px 0;
    }
  }
  .home-story-text-li {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-product {
    padding: 50px 30px;
  }
  .el-carousel .el-carousel__container {
    height: 400px;
  }
  .el-carousel__indicator .el-carousel__button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $primary-color;
    opacity: 1;
  }
  .el-carousel .el-carousel__indicators--outside .el-carousel__indicator.is-active button {
    background-color: #f3ac34;
    opacity: 1;
  }
  .el-carousel .el-carousel__indicators--outside .el-carousel__indicator:hover button {
    background-color: #f3ac34;
    opacity: 1;
  }
  .footer {
    padding: 40px 0 !important;
    .title-h6 {
      margin-top: 20px;
      margin-bottom: 25px;
    }
    .footer-link {
      font-size: 14px;
    }
  }
  .footer-icon-text {
    margin-bottom: 50px;
  }
  .footer-icon {
    justify-content: center;
  }
  .footer-icon-content {
    margin-bottom: 20px;
    a i {
      margin-right: 15px;
    }
  }
  .global .global-header {
    height: 70px !important;
  }
}
